* {
  margin: 0;
  padding: 0;
}

article {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.cart_box img {
  width: 3rem;
  height: 3rem;
}
.cart_img {
  display: flex;
  width: 10rem;
  height: 15rem;
}

.cart_img p {
  font-weight: bold;
  margin-left: 1rem;
}

.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-bottom: 0.5rem solid rgb(57, 69, 73);
  padding-bottom: 5px;
}

.cart_box div:nth-child(2) button {
  color:rgb(255, 255, 255);
  background-color: gray;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  margin-right: 0.1em;
  
}

.cart_box div:nth-child(3) button {
 
  padding: 0.5rem 0.5rem;
  background-color: #4c7789 ;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer; 
  
}
.cart_box div:nth-child(3) button:hover {
  background-color: darkseagreen;
}
.cart_box div:nth-child(3) span {
  background-color: lightgreen;

  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  
  margin-right:0.5rem ;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total span:nth-child(1) {
  font-size: 1.5rem;
  color: #6095ab;
  font-weight: bold;
  letter-spacing: 2px;
}

.total span:nth-child(2) {
  font-size: 1.5rem;
  color: green;
  font-weight: bold;
}
